@tailwind base;
@tailwind components;
@tailwind utilities;

    @font-face {
        font-family: 'film';
        font-style: normal;
        font-weight: 500;
        src: url("/public/fonts/IRANSansWeb.ttf");
    }
    @keyframes opacity{
        from {opacity: 1;}
        to {opacity: 0;}
    }
    .tiktik{
        @apply  w-[20px] h-[20px] rounded-[50%] flex ml-[8px] justify-center items-center    bg-[rgba(28,181,97,.24)];
    }
    .buyeshterak{
        @apply   flex gap-[5px] items-center  bg-[rgba(28,181,97,1)]  rounded-[6px]  cursor-pointer transition-all duration-[0.3s] ease-out hover:bg-[rgba(28,181,97,.8)];
    }
    .signin{
        @apply flex items-center bg-[rgba(255,255,255,.2)] h-[38px] pl-[20px] pr-[20px]  rounded-[4px]  cursor-pointer transition-all duration-[0.3s] ease-out  hover:bg-[rgba(255,255,255,.3)];
    }
    .sermov{
        @apply text-xs w-[50%] px-[8px] py-[4px] rounded-[35px];
    }
    .change_series{
        @apply flex flex-row justify-between items-center mt-[24px] w-[100%]  mx-auto ;
    }
    .change_movies{
        @apply flex flex-row justify-between items-center mt-[24px] w-[100%]  mx-auto ;
    }
    .fav{
        @apply opacity-65 rounded-[8px] transition-all duration-300 ease-in-out   ;
    }
    .fav:hover{
        opacity: 1;
    }
    .fav_one{
        @apply opacity-100 transition-all duration-300 ease-in-out scale-110  rounded-[10px] border-2 border-solid border-[rgba(255,255,255,.7)];
    }
    .motava_one{
        @apply opacity-100 transition-all duration-300 ease-in-out scale-110 border-2 border-solid border-[rgba(255,255,255,.7)];
    }
    .palto_one{
        @apply opacity-100 transition-all duration-300 ease-in-out scale-110 border-2 border-solid border-[rgba(255,255,255,.7)];
    }

    .swiper2{
        @apply w-[100%] h-[100%];
    }
    .swiper-slide2{
        @apply  text-center text-[18px] bg-transparent grid justify-center items-center
    }
    .imgslidjoke{
        @apply w-[100%] h-[100%] block object-cover
    }
    .devicei{
        @apply flex items-start gap-[10px] mb-[32px];
    }
    .laptopp{
        @apply font-bold text-base leading-[15px] text-[#d8d8d8]
    }
    .modelss{
        @apply text-xs text-[#a1a1a1] font-light
    }
    .yo{
        @apply   flex gap-[5px] items-center  bg-[#606060]  rounded-[6px]  cursor-pointer transition-all duration-[0.3s] ease-out hover:bg-[#777777];
    }
    .lilip{
        @apply mb-[5px] rounded-[10px] transition-all duration-[300ms] ease-in-out;
    }
    .freefreaa{
        @apply flex font-light bg-[#1d2b1f] text-[#4dab56] py-[3px] px-[8px] rounded-[24px] absolute top-[4px] right-[8px] z-20;
    }
    .kodakfilimo{
        @apply bg-[#ededed] text-[#151515] px-[16px] py-[10px] rounded-[8px] font-bold transition-all duration-[300ms] ease-in-out;
    }
    .jenayiidrm{
        @apply bg-[rgba(0,0,0,.2)] rounded-[16px] font-light text-center w-max py-[2px] px-[10px] text-[13px];
    }
    .nazarmardom{
        @apply bg-[#ffffff05] rounded-[12px] border border-solid border-[#33353d] p-[24px]
    }
    .downnzr{
        @apply font-light text-[#f9f9f9] leading-[20px] overflow-hidden overflow-y-auto h-[80px] text-[13px];
    }
    .cliksoal{
        @apply  w-[100%] bg-[#ffffff05] p-[16px] border border-solid border-[#33353d] rounded-[12px] cursor-pointer;
    }
    .dwndetail{
        @apply hidden text-[#b6b6b6] text-[14px] font-light pt-[8px] !transition-all duration-[1s] ease-out;
    }
    .qablmenu{
        @apply h-[28px]  items-center font-thin transition-all duration-500 ease-out hover:text-white fill-[#959595] hover:fill-white ml-[5px];
    }
    .aparins{
        @apply flex items-center gap-[8px] font-light transition-all duration-500 ease-out hover:text-white fill-[#959595] hover:fill-white;
    }
    .droppingapa{
        @apply w-[100%] p-[8px] text-xs font-light hover:bg-[#474747] hover:text-white  ease-out duration-300;
    }
    .classjoker{
        @apply w-[100%] h-[70px] lg:h-[130px] xl:h-[180px] bg-no-repeat bg-center bg-cover bg-fixed rounded-[10px]  ;
    }
    .bluring{
        @apply w-[100%] h-[100%] bg-[rgba(0,0,0,0.4)] flex justify-center items-center rounded-[10px] backdrop-blur-[5px];
    }
    .lock{
        @apply w-[48px] h-[48px] flex justify-center items-center rounded-[50%] bg-[rgba(0,0,0,0.4)] backdrop-blur-[14px];
    }